/*BIG CONTAINTER*/
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}


/*SPECIFIC TAG*/
body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 3.125rem auto 0rem auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3.125rem auto 3.125rem auto;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    margin: 100px auto;
    width: 4%;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/*PROPERTIES' CLASS*/
/* TOP CONTAINER*/
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    bottom: 300px;
    position: absolute;
    left: 250px;
}


/*MIDDLE-CONTAINER*/
.description {
    width: 30%;
    margin: auto;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 200px auto;
    text-align: left;
    width: 50%;
}

.avatar-icon {
    margin-top: 80px;
    width: 13%;
}

.code-icon {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.python-icon {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.contact-me {
    margin: 90px auto 90px auto;
}

.contact-text {
    margin: 50px auto 50px auto;
}

/*BOTTOM CONTAINER*/
.footer-contact {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}



