
body {
    background-color: #E9DAC1;
    line-height: 1.5;
    font-family: 'Cormorant', serif;
    font-size: 140%;
}

h2 {
    margin-bottom: 1.5%;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.row {
    padding: 14% 10%;
}

.message {
    background-color: #F7ECDE;
}

.envelope {
    border-top: 150px solid #F1E086;
    border-right: 225px solid #F6DB61;
    border-bottom: 150px solid #E8BF01;
    border-left: 225px solid #F6DB61;
    position: relative;
}

  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    opacity: 0;
    position: absolute;
    width: 400px;
    left: 75%;
    margin-top: 52%;
    transition: .5s ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 450px;
    background-color: #fff;
  }
  
  .container:hover .image {
    opacity: 1;
  }
  
  .text {
    font-size: 50px;
    position: absolute;
    top: 37%;
    left: 43%;
    text-align: center;
  }